body{
    width:100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.parent{
    display: grid;
    place-items: center;
}
.rectangle {
height: 70%;
width: 20%;
border-radius: 5%;
text-align: center;
background-color: tomato;
}
